.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 540px;
}

.title{
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    padding-bottom: 8px;
    color: #1D1D1B;
    text-align: center;
    margin-top: 3rem;
}

.productsContainer{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
}
.content{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 400px;
    width: 20%;
    max-width: 250px;
    justify-content: space-between;
    transition: 300ms;
}
.itemImage{
    width: 100%;
    height: 230px;
    object-fit: contain;
}
.itemName{
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: #1D1D1B;
    margin: 1rem 0;
}
.itemLink{
    opacity: 0.3;
    text-decoration: none;
    color: inherit;
    transition: 300ms;
}
.itemPrice{
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #E30613;
    text-align: center;
}
.unselectToBuy{
    background: transparent;
    border: 3px solid #FFED00;
    color: #1D1D1B;
    padding: 8px 4px;
    font-weight: 700;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 300ms;
}
.selectToBuy{
    background: #FFED00;
    border: 3px solid transparent;
    color: #1D1D1B;
    padding: 8px 4px;
    font-weight: 700;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: 300ms;
}
.itemSelected{
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: 400px;
    width: 20%;
    max-width: 250px;
    justify-content: space-between;
    transition: 300ms;
    opacity: 1;
}
.itemSelected .itemLink{
    transition: 300ms;
    opacity: 1;
}
.plus{
    font-size: 3rem;
}

.confirmationContainer{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.confimationPrices{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color:  #1D1D1B;;
    flex-wrap: wrap;
    max-width: 350px;
}
.totalText{
    display: none;
}
.listPrice{
    display: flex;
    width: 100%;
    gap: 5px;
}
.listPrice .currencyContainer{
    text-decoration: line-through;

}
.totalPrice{
    display: flex;
    gap: 5px;
    width: 100%;
    font-size: 32px;
    font-weight: 800;
    color: #E30613;
    justify-content: center;
}

.confirmationButton{
    background: #E30613;
    border-radius: 8px;
    border: none;
    color: #fff;
    padding: 16px 8px;
    font-weight: 500;
    cursor: pointer;
    max-width: 300px;
    text-transform: initial;
    letter-spacing: 1px;
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 1024px){
    .container{
        padding: 0;
    }

    .item, .itemSelected{
        min-width: 240px;
    }
    .productsContainer{
        overflow-x: auto;
    }
}