.listContainer {
  justify-content: center;
}
.listItem :global(.vtex-button){
  background: transparent;
  border-radius: 0;
  font-size: 24px;
  text-transform: initial;
  min-width: 290px;
  height: 50px;
  color: #1D1D1B;
  font-weight: 700;
  border: 0px;
}
.container--ficha_tabs{
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
.listItem{
  padding: 0px !important;
}


@media (max-width: 1024px){
  .listItem :global(.vtex-button){
    width: 100%;
  }
  .listItem{
    width: 100%;
  }
  }