.drawer--menuDrawer,
.overlay--menuDrawer {
  z-index: 999;
}
.drawerContent {position: relative;}
.openIconContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0px;
  height: 40px;
  min-width: 175px;
}
.openIconContainer::after{
  content: 'Loja Toda';
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.closeIconButton--menuDrawer {
  margin-left: auto;
}

.closeIconContainer--menuDrawer {
  background: #8A1002;
  margin-bottom: 20px;
  height: 100px;
}

.menuIcon {
  box-sizing: border-box;
  color: #fff;
  height: 50px;
  padding: 15px 10px 15px 0px;
  width: 30px;
}
.closeIcon--menuDrawer{
  color: #fff;
}

.childrenContainer--menuDrawer {
  padding: 0px 5px;
}

@media (max-width: 64rem) {
  .openIconContainer {
    margin-right: 5px;
  }

  .opened--menuDrawer{
    max-width: 350px !important;
  }
  .menuIcon {
    border-radius: 0;
    height: 24px;
    padding: 0;
    border: 0;
    width: 34px;
  }
  .openIconContainer {
    height: 40px;
    min-width: 50px;
  
  }
  .openIconContainer::after{
    content: '';
  }
}
.overlay--menuDrawer--visible{
  opacity: 0.7 !important;
  background-color: #000;
}