.headerStickyRow--top-bar{
    width: 100%;
}
.headerStickyRow--top-bar :global(.vtex-rich-text-0-x-paragraph){
    color: #fff;
    font-weight: 700;
    font-size: 12.05px;
    line-height: 22px;
    margin: 0px;
}
.headerRowBackground--main-header {
    padding: 25px 0;
    position: relative;
    background: transparent;
}
.headerRowContainer{
    justify-content: space-between;
    position: relative;
}
.headerRowBackground--top-bar :global(.vtex-store-components-3-x-container){
    background: #73170C !important;
}
.headerRowContainer--stick__header_desk{
    flex-wrap: wrap;
}
.headerRowBackground--stick__header_desk :global(.vtex-store-components-3-x-container){
    padding: 0 !important;
    max-width: 100%;
    background: #8A1002;
}
.headerStickyRow--main-menu{
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    margin-bottom: 1px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 1px solid #FFED00;
}
.headerStickyRow--main-header{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1280px;
    margin: 0 auto;
}
.headerRow--main-menu{
    max-width: 1280px;
    margin: 0 auto; 
}