:global(.vtex-slider-layout-0-x-slideChildrenContainer--slidercategory){
    text-align: center;
}
.slideChildrenContainer--slidertypeproduct :global(.vtex-flex-layout-0-x-flexColChild){
    text-align: center;
}
.sliderLeftArrow, .sliderRightArrow{
    color: #fff;
}
.paginationDotsContainer{
    bottom: 15px;
}
.paginationDot--carousel{
    background: #FFFFFF;
}
.paginationDot--carousel--isActive{
    background:#ffed00;
    border-radius: 20px;
}
.sliderTrackContainer--slidercategory, .sliderTrackContainer--slidertypeproduct{
    padding: 0 25px;
}
.slideChildrenContainer--sliderbenefits{
    display: block !important;
  }
.sliderLayoutContainer--banner-faixa-content{
    max-width: 96rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.caretIcon--sliderbenefits{
    color: #73170C;
}
.slide--slidercategory, .slide--slidertypeproduct{
    padding: 0 10px;
}
.sliderLeftArrow--slidercategory, .sliderRightArrow--slidercategory, .sliderLeftArrow--slidertypeproduct, .sliderRightArrow--slidertypeproduct{
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 100%;
  }
  .sliderLeftArrow--slidercategory .caretIcon, .sliderRightArrow--slidercategory .caretIcon{
      color: #1D1D1B;
  }
  .sliderLeftArrow--slidertypeproduct .caretIcon, .sliderRightArrow--slidertypeproduct .caretIcon{
    color: #1D1D1B;
  }
  .slide--sliderminibanners{
      padding: 5px;
  }