.searchResultContainer--shelfs-search{
    max-width: initial !important;
}

.searchResultContainer{
    padding: 0px !important;
}

.galleryTitle--layout{
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    padding: 30px 0 10px;
}

.totalProducts--layout{
    padding: 0;
    text-align: left;
}

.totalProductsMessage{
    color: #1D1D1B;
    text-transform: lowercase;
    font-size: 16px;
}

:global(.vtex-search-result-3-x-filters--layout){
    min-width: 300px;
}

:global(.vtex-search-result-3-x-filter__container--especificacoes-tecnicas){
    display: none;
}
.filterPopupTitle{
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #1D1D1B;
    text-transform: capitalize;
}

:global(.vtex-search-result-3-x-filterPopupTitle) :global(.vtex-search-result-3-x-orderByText){
    margin-right: 10px;
}
:global(.vtex-search-result-3-x-galleryLayoutOptionButton) :global(.vtex-store-icons-0-x-gridIcon), :global(.vtex-search-result-3-x-galleryLayoutOptionButton) :global(.vtex-store-icons-0-x-inlineGridIcon){
    margin-right: 10px;
}

:global(.vtex-search-result-3-x-filterItem) :global(.vtex-checkbox__label) {
    font-size: 14px;
    color: #737373;
}

.orderByText, .galleryLayoutSwitcher{
    display: none;
}

.orderByButton{
    background: #FFFFFF;
    border: 0.5px solid #1D1D1B;
    box-sizing: border-box;
    border-radius: 6px;
    width: 224px;
    display: flex;
    justify-content: center;
    padding: 8px 10px;
}
.filterPopupArrowIcon{
    padding-right: 0px;
}

@media only screen and (max-width: 640px) {
    .orderByButton{
        border: 0px;
        width: auto;
    }
    .totalProducts--layout{
        display: none;
    }
    :global(.vtex-search-result-3-x-filters--layout){
        min-width: auto;
    }
}
.gallery--grid, .gallery--list{
    padding-left: 0;
}
.galleryLayoutOptionButton{
    color: #D2D2D2;
}
.galleryLayoutOptionButton--selected{
    color: #73170C;
}
.filterIcon .caretIcon{
    color: #1D1D1B;
}
.filterTitle {
    color: #1D1D1B;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}