.itemContainer {
    z-index:999;
}

.sidebarScrim {
    background-color: #3f3f40!important;
    opacity: 0.7!important;
}

:global(.vtex-category-menu-2-x-container) {
    width: 100%;
    justify-content: flex-start;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    max-width: 96rem;
    position: relative;
}

:global(.vtex-category-menu-2-x-section--department) {
    margin: 0 0;
    width: 100%;
    padding: 0 !important;
}

:global(.vtex-category-menu-2-x-section--category) {
    padding: 0;
    padding-top: 2.2rem;
}

.departmentList {
    overflow: visible;
    height: max-content;
    flex-basis: 100%;
    flex-shrink: 0;
    flex-direction: column;
    padding: 0;
    direction: ltr;
}

:global(.vtex-category-menu-2-x-section--category)::before {
content: "Categorias";
    display: block;
    background-color: #73170C;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 2.2rem;
    text-align: left;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    height: 2.2rem;
    width: 100%;
    box-sizing: border-box;
}

.departmentLink {
    margin: 0;
    text-align: left;
    padding: 0.8rem 1rem;
    box-sizing: border-box;
    border-right: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: normal;
    line-height: 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;      
}

.itemContainer--department {
    width: 25%;
}

.itemContainer--category {
    /*position: absolute;
    top: 0 !important;
    left: 20%;
    width: 80%;
    z-index: 9999;
    border: none;
    height: 100%;*/
    position: absolute;
    top: 0px!important;
    left: 25%;
    width: 74%;
    z-index: 9999;
    border: none;
    height: 100%;
}

@media (min-width: 1280px){
    .itemContainer--category {
        left: 25%;
    }
}
.itemContainer--category :global(.vtex-store-components-3-x-container) {
    height: 200px;
}


.submenuList {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(13rem, 1fr));
    grid-template-rows: repeat(auto-fill,minmax(2em, 1fr));
    grid-auto-flow: column;
}

.firstLevelList {
    padding: 0;
}

.firstLevelLink {
    padding: 0.5rem 1rem;
}

.firstLevelLink:hover {
    text-decoration: underline;
}

.departmentLink::after {
    content: "";
    border: solid rgba(0,0,0,0.4);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.departmentLink:hover {
    background-color:#fff;
}
.section--department {
    padding-left: 0!important;
    overflow: auto;
    max-height: 550px;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
}
.section--department::-webkit-scrollbar {
    width: 12px;
}
.section--department::-webkit-scrollbar-track {
    background: #73170C;        /* color of the tracking area */
  }

  .section--department::-webkit-scrollbar-thumb {
    background-color: #fff;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #73170C;  /* creates padding around scroll thumb */
  }