/*TOP BAR*/
.paragraph--text-topbar1{
  color: #282D2F;
  font-size: 24px;
  font-weight: 900;

}
.paragraph--text-topbar2{
  color: #73170C;
  font-size: 24px;
  font-weight: 900;
  border-style: dashed;
  padding: 0 5px;
}
.italic--text-topbar2{
  color: #282D2F;
  font-style: normal;
  font-weight: 600;
}
:global(.vtex-rich-text-0-x) .container--titulosvitrine, :global(.vtex-rich-text-0-x) .container--titulosminibanners {
  width: 100%;
  display: inline-block;
}
.paragraph--titulosminibanners{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: #1D1D1B;
    width: max-content;
    z-index: 1;
    margin: 25px auto;
    padding: 0 20px;
}
.paragraph--titulosvitrine{
  display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    width: max-content;
    z-index: 1;
    margin: 25px auto;
    padding: 0 20px;
}
.container--titulosvitrine, .container--titulosminibanners{margin-top: 20px;}
.headingLevel2--titulosvitrine,.headingLevel3--titulosvitrine {
  color: #73170C;
  font-size: 24px;
  padding-bottom: 8px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0;
}
.link{color:#282D2F;}

:global(.vtex-store-footer-2-x-footerLayout) .heading {
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel3 {
  font-size: 16px;
  color: #1D1D1B;
  margin-top: 0px;
  font-weight: 500;
}

:global(.vtex-rich-text-0-x-container--texto-qtd){
  display: flex;
  align-self: center;
}

.paragraph--section-title {
  margin:0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .headingLevel2,  :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .headingLevel2{
  color: #eb6a18;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 640px) {

:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias) .headingLevel2,  :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .headingLevel2{
  font-size: 1.5rem;
}
.paragraph--titulosvitrine{
  font-size: 18px;
}

}

:global(.vtex-flex-layout-0-x-flexCol--menu-categorias-container) .link, :global(.vtex-flex-layout-0-x-flexRowContent--menu-departamentos-title) .link {
  color: #282D2F;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

:global(.vtex-store-footer-2-x-footerLayout) :global(.vtex-flex-layout-0-x-flexColChild){
  height: auto !important;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel4 {
  font-size: 18px;
  color: #1D1D1B;
  margin-top: 0;
}

:global(.vtex-store-footer-2-x-footerLayout) .headingLevel5 {
  color: #73170C;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0px;
}

:global(.vtex-store-footer-2-x-footerLayout) .link {
  color:#1D1D1B;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

:global(.vtex-store-footer-2-x-footerLayout) .paragraph {
  margin-top:0;
  color: #ffffff;
  margin-bottom: 5px;
}
:global(.vtex-store-footer-2-x-footerLayout) .strong {
  color: #73170C;
}
.container--navegue-ambientes {
  color: #20211f;
  width: 100%;
}
.paragraph--navegue-ambientes {
  margin: 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.065em;
  font-size: 1.5rem;
  display: flex;
  font-weight: 700;
}
.container--titleresult{
  background: #F5F5F5;
  padding-bottom: 3rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -45px;
  z-index: 1;
}
.paragraph--titleresult{
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1D1D1B;
}
:global(.vtex-rich-text-0-x-wrapper--titulosvitrine){
  display: flex;
  width: 100%;
  position: relative;
}
.image--titulosvitrine{
  margin-right: 5px;
}
.paragraph--copyright-mobile {
  margin-top: 20px!important;
  font-size: 12px;
}
.wrapper--button-ofertas-home{
  width: 100%;
}
.link--text-ambientes{
  color: #1D1D1B;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}
.link--text-category{
  color: #1D1D1B;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}
.paragraph--texto-qtd{
  color: #1D1D1B;
  font-size: 1.188rem;
  font-weight: bold;
  margin: 0;
}

/* Page Location Store */

.strong--col-store-list-title{
  color: #73170C;
}
.wrapper--col-store-list-cont{
  font-size: 14px;
  color: #858585;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
  padding: 0 10px;
  margin-bottom: 8px;
  height: auto !important;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) .wrapper--col-store-list,
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store-lado) .wrapper--col-store-list{
  background: #fff;
  padding: 10px 20px;
  min-height: 240px;
  border-radius: 15px;
  width: 100%;
}
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) .heading,
:global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store-lado) .heading{
  margin-bottom: 0;
}

@media only screen and (max-width: 1023px) {
  .container--titleresult{
    margin: 15px 0;
    padding-bottom: 0px;
  }
  :global(.vtex-store-footer-2-x-footerLayout) :global(.vtex-flex-layout-0-x-flexColChild){
    text-align: center;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild){
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store) :global(.vtex-flex-layout-0-x-flexColChild),
  :global(.vtex-flex-layout-0-x-flexRowContent--grid-location-store-lado) :global(.vtex-flex-layout-0-x-flexColChild){
    width: 100%;
  }
  .link--text-category{
    font-size: 14px;
  }
}

.container--row-itens-benefits{
    background: #E61617;
    border-radius: 15px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.wrapper--row-itens-benefits-cupom .paragraph{
  font-size: 20px;
    line-height: 20px;
    padding-right: 10px;
    text-align: right;
}
.wrapper--row-itens-benefits-desc .headingLevel2{
  font-size: 40px;
  color: #fff;
}
.container--row-itens-cupon{
  background: #E4E5E6;
}
.heading--row-itens-aproveite{
  background: #282D2F;
    margin: -35px 0 0;
    padding: 15px;
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}
.wrapper--row-itens-cupon .paragraph--row-itens-benefits-desc{
  font-size: 22px !important;
  color: #000 !important;
}
.paragraph--row-itens-benefits-desc{
  color: #E61617 !important;
  font-size: 26px !important;
}

.wrapper--text-footer-left{
  max-width: 220px;
}
.link--button-chat{
  background: #73170C;
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    display: block;
}
.container--duvidas-bottom-text, .link--duvidas-bottom-tel{
  margin-left: 10PX;
}
.wrapper--title-disclosure-prod .paragraph{
  color: #282D2F;
  font-size: 22px;
}

.paragraph--title-frete{
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #1D1D1B;
}

/* Mobile */
@media (max-width: 1023px) {
  .wrapper--title-disclosure-prod .paragraph{
    font-size: 18px;
  }
  .wrapper--telefone-footer-mobile{
    font-size: 36px;
    margin-bottom: 10px;
  }
  .headingLevel3--email-footer-mobile, .headingLevel3--atendimento-footer-mobile{
    font-size: 20px !important;
    font-weight: 900 !important;
    margin-bottom: 10px;
  }
}
.container--quadro-left{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
}
.container--quadro-right{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: #F2F2F2;
  padding: 10px;
}
.paragraph--quadro-left{
  font-size: 15px;
    color: #282D2F;
    font-weight: 600;
}
.paragraph--quadro-right{
  font-size: 15px;
    color: #282D2F;
    font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexRowContent--pg-institucional) .headingLevel2{
  font-size: 20px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--pg-institucional) .headingLevel3{
  font-size: 18px;
}
.container--fale-conosco-text{
  margin-left: 15px;
}
.paragraph--copyright-desk{
  color: #000 !important;
  font-size: 12px;
}
.link--copyright-desk{
  color:#000000 !important;
}
.container--news-text-desk{
  align-items: center;
}
.paragraph--news-text-desk{
  font-weight: 900;
  font-size: 22px;
}
.strong--news-text-desk{
  color: #000;
  font-weight: 900;
}
.paragraph--benefits-footer-content{
  color: #858585 !important;
}
.container--benefits-footer-content{
  text-align: center;
}
.wrapper--benefits-footer-content{
  width: 330px;
}
.container--formas-pag{
  border-bottom: 0.8px solid #C4C4C4;
}
.paragraph--formas-pag{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #6C6C6C;
  text-decoration: underline;
}
.paragraph--frete-prazo{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #6C6C6C;
}
.paragraph--formas-pag .image, .paragraph--frete-prazo .image {
  margin-right: 10px;
}
.wrapper--titulosblock{
  text-align: center;
}
.paragraph--titulosblock{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 10px 0 5px;
}
.headingLevel3--titulosblock{
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #73170C;
  margin: 0;
}
.paragraph--benvindo-drawer{
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.link--footer-contato-link{
  color: #1D1D1B;
  font-size: 14px;
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 28px;
  margin-bottom: 20px;
}
.strong--footer-contato-link{
  font-weight: 700;
  color: #1D1D1B !important;
}
.link--footer-contato-link::before{
  height: 25px;
  position: absolute;
  left: 0;
}
.link--contato-email::before{
  content:url('assets/svg/contato-email-footer.svg');    
}
.wrapper--contato-horario{
  display: flex;
  align-items: center;
  color: #ffffff;
    font-size: 16px;
}
.wrapper--contato-horario::before{
  content:url('assets/svg/contato-horario.svg');   
  margin-right: 5px; 
}
.headingLevel4--title-nossas-redes{
  margin: 20px 0;
}
