.newsletterForm {
    display: flex;
    max-width: 700px;
}

.emailInputContainer {
    flex-grow:1;
    margin-right: 1rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.defaultSuccessMessage {
    text-align: center;
    font-size: 20px;
    padding: 0px;
    margin: 0;
}
.newsletterForm--news .formSubmitContainer :global(.vtex-button){
    border: 0;
    background: #49CD66;
}
.formSubmitContainer :global(.vtex-button){
    background: #49CD66;
    border-radius: 8px;
    border-color: #49CD66;
    min-width: 144px;
}
.formSubmitContainer :global(.vtex-button__label){
    text-transform: initial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
}
.newsletterForm--news{
    align-items: center;
}
.emailInputContainer :global(.vtex-input-prefix__group){
    border: 0px;
}
.emailInputContainer :global(.vtex-styleguide-9-x-input){
    background: #fff;
    border: 1px solid #1D1D1B;
    box-sizing: border-box;
    border-radius: 8px;
}