.product-identifier {
    display: block;
    margin-bottom:0.5rem;
    text-align: left;
}
.product-identifier__label{
    font-size: 14px;
    color: #1D1D1B;
    text-transform: uppercase;
}
.product-identifier__value{
    color: #1D1D1B;
    font-size: 14px;
}