.container{
    display: flex;
    align-items: center;
}
.homeIcon{
    height: 20px;
    width: 20px;
}
.homeLink {
    height: 20px;
    padding: 0px;
}
.link{
    color: #1D1D1B;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.arrow{
    display: flex;
    align-items: center;
}