.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: #1D1D1B;
}

:global(.vtex-shelf-1-x-container) :global(.vtex-shelf-1-x-title){
    display:none;
}
.arrow{
    width: 40px;
    height: 25px;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--shelfvitrine) .caretIcon{
    color: #1D1D1B;
    height: 25px;
    width: 25px;
}
.sliderContainer{
    padding: 10px;
}
.arrowLeft{
    left: -10px !important;
}
.arrowRight{
    right: -10px;
}
@media (max-width: 1023px) {
    .sliderContainer{
        padding: 0px;
    }
  }