
.cartIcon{
    height: 28px;
}
:global(.vtex-login-2-x-profileIcon){
    width: 18px;
    height: 20px;
}
:global(.vtex-login-2-x-profileIcon--loginDrawer){
    height: 30px;
    width: 30px;
}
:global(.vtex-minicart-2-x-cartIcon){
    height: 30px;
}
:global(.vtex-store-components-3-x-searchIcon){
    width: 20px;
    height: 20px;
}

@media (max-width: 64rem) {
    :global(.vtex-login-2-x-profileIcon){
        width: 30px;
        height: 30px;
    }
    .cartIcon{
        height: 30px;
    }
}