
.minicartQuantityBadge {background: #212220;width: 15px;height: 15px;right: -0.8rem;}
.overlay--visible{
    opacity: 0.7 !important;
  background-color: #000;
}
.minicartCheckoutButton :global(.vtex-button):hover{
  border-color: #8a1002 !important;
  background-color: #8a1002 !important;
}