.quantitySelectorContainer {
    margin: 0;
}

:global(.vtex-numeric-stepper__input) {
    flex-grow: 1;
    height: 30px;
    border: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9D9D9C;
}

:global(.vtex-numeric-stepper-container) {
    border: 1px solid #9D9D9C;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 13px;
}

:global(.vtex-numeric-stepper__minus-button) {
    height: 30px;
    border: 0px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 5px !important;
    font-size: 22px;
    width: 32px !important;
    color: #9D9D9C;
}

:global(.vtex-numeric-stepper__plus-button) {
    height: 30px;
    border: 0px;
    background: rgba(196, 196, 196, 0.3);
    border-radius: 5px !important;
    font-size: 22px;
    width: 32px !important;
    color: #9D9D9C;
}