.content {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #fff;
    border-radius: 0.5rem;
    gap: 1rem;
    padding: 0;
}
.box{
    min-width: 200px;
}
.contentForm{
    min-width: 170px;
}

.options {
    width: 50%;
}

.buttonLink :global(.vtex-button) {
    height: 40px;
}

.contentForm {
    width: 50%;
}
.formTitle{
    font-weight: bold;
    text-align: left;
    padding-left: 0;
}
.label{
    text-transform: initial;
    text-align: left;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    max-width: 135px;
    font-weight: 700;
}
.inputContainerAccessCode {
    font-size: 14px;
}
.profile{
    color: #ffffff;
    text-transform: initial;
    font-style: normal;
font-weight: normal;
font-size: 14px;
}
:global(.tfcvh6-metodo-localization-0-x-localizationInput) input {
  border: 2px solid #73170C;
  padding: 10px;
  border-radius: .3rem;
  width: 143px;
  font-size: 1.5rem;
}
@media only screen and (min-width: 1023px) {
    .buttonLink {
        background: #1D1D1B;
        border-radius: 8px;
    }
}
@media only screen and (max-width: 640px) {
    .contentForm, .options{
        width: 100% !important;
    }
    .loginOptionsContainer {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    .button :global(.vtex-button__label){
        padding: 10px 0;
        text-transform: initial;
        font-size: .875rem;
    }
    .buttonLink {
        background: transparent;
    }
    :global(.vtex-login-2-x-content) {
        margin-bottom: 30px;
    }
    .buttonLink :global(.vtex-button__label){
        padding-left: 1.8rem;
        padding-right: 0.1rem;
    }
}