:global(.vtex-slider-0-x-sliderFrame) :global(.vtex-shelf-1-x-slide){
    padding-left: .5rem;
    padding-right: .5rem;
}

:global(.vtex-slider__base-internal){
    background-color: #8a1002;
}

:global(.vtex-slider__selector){
    background-color: #8a1002;
    border-color: #8a1002;
}

@media (max-width: 1023px) {
    :global(.vtex-slider-0-x-sliderFrame) :global(.vtex-shelf-1-x-slide){
        padding-left: .3rem;
        padding-right: .3rem;
    }
  }